body{
  background: rgb(15, 15, 15);
  background-image: url(night-sky2.jpeg);
  background-size: 100%;
  background-position: top;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5dvh;
}

input{
  width: 7rem;
  background-color: #ffffffda;
  color: black;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.edit-input {
  padding: 0.1rem;
  margin: 0.1rem;
}
.submit {
  background-color: #ffffffda;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 12px rgba(255, 255, 255, 0.2);
  border: none;
  color: rgb(0, 0, 0); 
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 14px; 
  border-radius: 5px;
  transition-duration: 0.2s; 
  cursor: pointer; 
}

button:hover {
  background-color: #c7c7ec;
}

.contacts {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 700px;
  max-width: 90%;
  justify-content: center;
  gap: 5px;
}
.contact {
  border: 1px solid  rgb(141, 129, 167); 
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
  background-color: rgba(19, 19, 36, 0.759);
  gap: 5px;
  min-width: 80px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 7px rgba(255, 255, 255, 0.2);
}

.contact:hover {
  background-color: rgba(40, 40, 75, 0.872);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 12px rgba(255, 255, 255, 0.2);
}
.edit, .update {
  cursor: pointer;
  display: block;
  padding: 0rem 0.2rem 0.1rem 0.2rem;
  border: 1px solid  rgb(141, 129, 167);
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 3px;
}
.hidden {
  display: none;
}
.fa-trash {
  cursor: pointer; 
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}